body
    padding-top 60px
    footer
        p
            border-top 1px solid #cccccc
            padding-top 15px
            
.navbar-right
    .navbar-form
        input
            margin-right 10px