body {
  padding-top: 60px;
}
body footer p {
  border-top: 1px solid #ccc;
  padding-top: 15px;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
ul {
  list-style-type: none;
}
.answer-label {
  padding: 10px;
}
#button-start-container {
  padding: 100px;
}
.quiz-container {
  background-color: #4caf50;
  color: #fff;
  border-style: inset;
  border: 1px inset #000;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 15px;
  margin: 5px;
  box-shadow: 3px 3px 3px #555;
}
.quiz-container:hover {
  background-color: #fff;
  color: #4caf50;
  box-shadow: 2px 2px 2px #999;
}
