.container
    .jumbotron
        h1 Welcome
    .row
        .col-md-6
            .panel.panel-default
                .panel-heading New Questions
                .panel-body(ng-include="'partials/main/new-questions'")